/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  color: CanvasText;
  color-scheme: light dark;

  background-image: url("../images/Achtergrond.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  color-scheme: light dark;
}

.homepage-illustratie {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
}

.doodle-garden-wrapper {
  position: relative;
  max-width: 900px;
  margin: 1em auto 0;
}

.doodle-garden {
  max-width: 900px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1em auto 0;
}

.doodle-garden-tekst {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  margin: 0;
  font-family: "Comic Relief", system-ui;
  font-size: 1.5em;
  font-weight: normal;
}

.mijn-art-map {
  position: absolute;
  left: 1px;
  bottom: 580px;
  max-width: 390px;
  width: 100%;
  height: auto;
}

.mijn-art-map-tekst {
  position: absolute;
  left: 140px;
  bottom: 605px;
  width: 100%;
  height: auto;
  font-size: 1.5em;
}
