@font-face {
  font-family: "Outfit", sans-serif;
  src: url("assets/type/Outfit-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

/* MARK: Light en dark theme*/
html {
  color-scheme: light dark;
}

/* MARK: styling van de body */
body {
  background-image: url("../images/achtergrond.jpg");
  background-size: 100%;

  /* MARK: Body gebruiken als CSS Grid */
  display: grid;

  /* MARK: Grid indeling voor kleine schermen */
  grid-template-areas:
    "header"
    "main"
    "left-colum"
    "right-colum"
    "footer";

  grid-template-columns: 1fr; /* Een kolom op kleine schermen */

  gap: 1rem; /* Ruimte tussen de grid onderdelen */

  max-width: 80rem; /* Maximale breedte van de website */
  min-height: 100vh;
  margin: 0 auto; /*Website horizontaal centreren */
  padding: 0 1em 0 1em;
}

body > header {
  grid-area: header;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 -1rem 1rem -1rem; /*0 = boven 1= rechts 1=onder -1=links*/
  background-color: #dce7f8;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

body > header > header {
  /*blauwe balk bovenkant*/
  width: calc(100% + 1.5rem);
  height: 2rem;
  background-color: #b2c2e5;
  border-bottom: 0.2rem solid black;
  margin: 0 -1rem 1rem -1rem;
}

/*bloem*/
body > header figure {
  width: 4rem;
  margin: 0;
  flex-shrink: 0; /*zorgt ervoor dat hij zelfde size blijft*/
}

body > header figure img {
  width: 100%;
  height: auto;
  display: block;
}

header h1 {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  width: auto;
  text-align: left;
  margin: 0;
  white-space: nowrap;
}

/* MARK: Eerste aside in de linker kolom plaatsen */
aside:first-of-type {
  grid-area: left-colum;
}

/* MARK: Main - mobile */

main {
  grid-area: main;

  width: 100%;
  min-height: 25rem;

  border: 0.2rem solid black;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background-color: #faf9ec;
}

main > header {
  width: 100%;
  height: 2rem;
  background-color: #f8d7e0;
  border-bottom: 0.2rem solid black;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

main > header > p {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0;
  background-color: rgb(255, 110, 110);
  border: 0.15rem solid black;

  box-shadow:
    1.8rem 0 0 -0.15rem rgb(251, 251, 139),
    1.8rem 0 0 0 black,
    3.6rem 0 0 -0.15rem rgb(170, 251, 170),
    3.6rem 0 0 0 black;
}

/* MARK: Afbeelding mobile */

main > figure {
  width: 100%;

  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

main > figure img {
  width: 100%;
  height: auto;

  display: block;

  object-fit: contain;
}

/* MARK: Tekst mobile */

main > section {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 1.5rem;

  box-sizing: border-box;
}

main > section h2,
main > section p {
  text-align: center;
}

main > section h2 {
  margin: 0 0 0.5rem 0;
}

/*broodtekst*/
main > section p {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

/*welkom tekst */
main h2 {
  font-size: medium;
  font-weight: 800;
  font-family: "Outfit", sans-serif;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 0.1rem 0;
  font-size: 0.9rem;
}

/* MARK: Laatste aside in de rechter kolom plaatsen */
aside:last-of-type {
  grid-area: right-colum;
}

/* MARK: Navigatie als Flexbox */
nav {
  text-decoration: none;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  display: flex;
}

/* MARK: Styling van de navigatielinks */
nav a {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  border: 0.2em solid black; /* Zwarte rand om de links */
  border-radius: 2rem; /* Ronde hoeken */
  padding: 0.5rem 1rem 0.5rem 1rem; /* Ruimte binnen de link */
  background-color: #b2c2e5; /* Achtergrondkleur van de link */
  text-decoration: none; /* Onderstreping van de link verwijderen */
  color: black; /* Tekstkleur */
  margin-right: 0;
  text-align: center;
  margin-bottom: 2rem;
}

/* MARK: Hover-effect voor navigatielinks */
nav a:hover {
  background-color: #dce7f8; /* Achtergrondkleur verandert wanneer je eroverheen gaat */
}

/* MARK: Welkom afbeelding centreren */
main figure {
  width: 55%;
  display: flex;
  justify-content: center; /* Afbeelding horizontaal centreren */
  align-items: center; /* Afbeelding verticaal centreren */
  margin-bottom: 1.5rem; /* Ruimte onder de afbeelding */
  margin: 0 auto;
}

/* MARK: Grootte van de welkom afbeelding */
main figure img {
  width: 100%;
  max-width: 40rem;
  height: auto;
  display: block;
}

/* MARK: Welkom tekst centreren */
main section {
  text-align: center;
}

/* MARK: styling van de asides */
aside {
  display: flex;
  flex-direction: column; /* Afbeeldingen onder elkaar plaatsen */
  justify-content: center; /* Afbeeldingen verticaal centreren */
  align-items: center; /* Afbeeldingen horizontaal centreren */
  gap: 0.1rem; /* Kleine ruimte tussen de afbeeldingen */
  width: 100%;
  padding-top: 3rem;
}

aside > a {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

aside figure {
  width: 100%;
  margin: 0;
}

/* MARK: Grootte en verhouding van de figures */
aside figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  flex: 0 0 auto;
}

aside figure img {
  width: 100%;
  height: auto;
  display: block;
}

aside figcaption {
  text-align: center;
  margin-top: -1rem;
  font-family: "Outfit", sans-serif;
}
/* 



desktop view




/*

/* MARK: Responsive design voor groot scherm */
@media (min-width: 48em) {
  /* MARK: Grid aanpassen voor groot scherm */
  body {
    grid-template-areas: /* Drie kolommen maken: links, midden en rechts */
      "left-colum header right-colum" /*pakt in de grid de bovenste rij*/
      "left-colum main right-colum"
      "footer footer footer";
    grid-template-columns: 14rem 1fr 14rem; /* Breedte van de drie kolommen */
    grid-template-rows: auto 1fr auto; /* Twee rijen maken */
  }

  body > header {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  body > header figure {
    width: 5rem;
    margin: 0;
  }

  header h1 {
    width: auto;
    margin: 0 0 0 0.5rem;
    text-align: left;
    white-space: nowrap;
  }

  main h2 {
    font-size: 2rem;
  }

  main p {
    font-size: 1.2rem;
  }
  nav {
    display: flex;
    width: auto;
    margin-left: auto;
    justify-content: flex-end;
    gap: 1rem;
  }

  nav a {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  /* MARK: Asides op groot scherm */
  aside {
    justify-content: flex-start;
    align-items: center;
  }

  aside > a {
    max-width: 100%;
  }

  aside > a figure {
    width: 100%;
  }

  aside > a:hover {
    transform: scale(1.1);
  }

  aside figure img {
    width: 100%;
  }

  aside:first-of-type {
    grid-area: left-colum;
    align-items: flex-start;
    margin-top: 5rem;
    transform: translateX(-2rem);
  }

  aside:last-of-type {
    grid-area: right-colum;
    transform: translateX(1rem) translateY(10rem);
  }

  /* MARK: Desktop view */
  main {
    width: 100%;
    height: 30rem;
    min-height: 30rem;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: stretch;
  }

  /* MARK: Header binnen main */

  main > header {
    width: 100%;
    height: 2rem;
    flex-shrink: 0;
    box-sizing: border-box;
  }

  /* MARK: Afbeelding desktop */

  main > figure {
    width: 60%;
    height: calc(100% - 2rem);

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
  }

  main > figure img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: contain;
    transform: translateX(-4rem);
  }

  /* MARK: Tekst desktop */

  main > section {
    width: 40%;
    height: calc(100% - 2rem);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 2rem;
    box-sizing: border-box;

    transform: translateX(-5rem);
  }
}
/* BRONNENLIJST VOOR CODE:*/
/*https://www.w3schools.com/tags/tag_figure.asp*/
/*https://www.w3schools.com/tags/tag_section.asp*/
/*https://www.w3schools.com/css/css3_buttons.asp*/
/*https://www.w3schools.com/css/css3_flexbox.asp*/
/*https://www.w3schools.com/css/css_grid.asp*/
